.swiper {
  width: 230px;
  height: 320px;
  @media (max-width: 280px) {
    width: 200px;
    height: 280px;
  }
}

.swiper-slide {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 18px;
  color: #fff;
  text-shadow: 0 1px 2px rgba(0,0,0,0.2);
  box-shadow: 0 3px 6px rgba(0,0,0,0.2);
}

.swiper-slide:nth-child(1n) {
  background-color: #99ccff;
}

.swiper-slide:nth-child(2n) {
  background-color: #008cff
}

.swiper-slide:nth-child(3n) {
  background-color: #0ab86f;
}

.swiper-slide:nth-child(4n) {
  background-color: #d37a07;
}

.swiper-slide:nth-child(5n) {
  background-color: #76a30c;
}

.swiper-slide:nth-child(6n) {
  background-color: #b40a2f;
}

.swiper-slide:nth-child(7n) {
  background-color: #236313;
}

.swiper-slide:nth-child(8n) {
  background-color: #0044ff;
}

.swiper-slide:nth-child(9n) {
  background-color: #2e40ff;
}

.swiper-slide:nth-child(10n) {
  background-color: #365e4d;
}
